<div class="contents row">
  <div class="container">
    <%= form_for(@tweet, url: tweets_path) do %>
      <h3>
        投稿する
      </h3>
      <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>